@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700;800&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Baloo 2", cursive;
}

:root {
	--back: #000;
	--white: #fff;
	--gray-0: #fefefe;
	--gray-1: #f4f6f7;
	--color-title: #1b4458;
	--color-subtitle: #0b638f;
}
