@import url("./global.css");

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__content {
	padding: 1rem;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center !important;
	align-content: center !important;
}

.main__content_loading {
	width: 100vw;
	height: calc(100vh - 16rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1024px) {
	.main__content {
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	}
}
